.dashboard {
    width:  100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 200px auto 50%;
    grid-template-rows:    100px auto;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: black;

    font-family: 'Source Sans Pro', sans-serif !important;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.middle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}